:root{
    --mainBgColor: #eee2e2;
    --navColor: #685959;
    --contentEvenColor: #bfa9a9;
    --contentOddColor: #a28f8f;
    --textColor: #aa9e9e;
}
body{
    background-color: var(--mainBgColor);
    margin: 0;
    padding: 0;
    font-family: 'Cursive', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    background-color: var(--navColor);
    position: sticky;
    top: 0;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;
}
nav a{
    text-decoration: none;
    color: white;
}
header{
    text-align: center;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-inline: 200px;
    padding: 50px;

}
.content section:nth-child(even){
    background-color: var(--contentEvenColor);
}
.content section:nth-child(odd){
    background-color: var(--contentOddColor);
}
section{
    display: flex;
    gap: 50px;
    padding: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}
section div{
    width: 50%;
    text-align: center;
}
section img{
    height: 20vw;
}
section h1{
    font-size: 2em;
}
section p{
    font-size: 1.5em;
}
footer{
    background-color: var(--navColor);
    color: white;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    bottom: 0;
}
.contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contacts div{
    display: flex;
    gap: 20px;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: gray;
}
.active{
    text-decoration: underline;
}

@media (max-width: 1100px){
    .content{
        margin-inline: 12vw;
    }
    section{
        flex-direction: column;
    }
    section div{
        width: 100%;
    }
    body {
        font-size: 1.5vw; /* 2% of the viewport width */
    }
    a{
        font-size: 2.5vw;
    }
    nav, footer{
        font-size: 2.5vw;
    }
}